<div id="<%= dom_id blog %>">
  <p>
    <strong>Title:</strong>
    <%= blog.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= blog.body %>
  </p>

  <%= image_tag(blog.image) %>

  <p>
    <strong>Comments:</strong>
    <%= blog.comments.length %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= link_to blog.status, toggle_admin_blog_path(blog) %>
  </p>

</div>
